@font-face {
    font-family: CustomX;
    src: url(fonts/CustomX.ttf);
}

* {
    padding: 0;
    margin: 0;
}

html {
    background-image:  linear-gradient(146deg, rgba(255,209,104,1) 18%, rgba(89,255,123,1) 30%, rgba(128,197,201,1) 50%, rgba(130,126,224,1) 70%, rgba(133,78,131,1) 85%, rgba(232,73,73,1) 95%);
    overflow-x: hidden;
}

body {
    display: flex;
}

#menu {
    width: 13em;
    height: 16.5em;
    margin-top: .2em;
    margin-left: .2em;
    border: 1px solid black;
    box-shadow: -3px 3px 6px;
    opacity: .7;
}

.content {
    color: black;
    padding-left: 5%;
    width: 30%;
}

h3 {
    font-size: 5em;
    border-bottom: .07em dashed black;
    font-family: CustomX;
}

#capsule {
    font-size: 3em;
    font-family: CustomX;
}

#ascii {
    z-index: -1;
    opacity: .2;
    position: absolute;
    width: 100%;
    padding-top: 30vh;
    text-align: center;
    font-size: 20em;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .005em;
    -webkit-text-stroke-color: black;
}

p {
    font-size: 2.5em;
}

@media (orientation: portrait) {
    body {
        text-align: center;
        display: block;
    }

    #menu {
        width: 70%;
    }

    .content {
        padding-left: 0;
        width: auto;
    }

    #capsule {
        padding-left: 0;
    }

}
